<%= render :partial => @menu %>
<% if(signed_in?)  %>

  <%= link_to 'Destroy', @menu, :method => :delete, :confirm => "Are you sure?" %> |
  <% end %>
  <p>
<p>
  <%= link_to 'See All menus', menus_path %>
</p>


<h2>Categories</h2>
<div id="Categories">
  <%= render :partial => @menu.categories %>
</div>

<% if(signed_in?)  %>
  <% form_for [@menu, Category.new] do |f| %>
    <p>
      <%= f.label :name, "New Category" %><br />
      <%= f.text_field :name %>
    </p>
    <p><%= f.submit "Add Category" %> </p>
    <% end %>
  <% end %>



