<p>
  <b>Dish:</b>
  <%=h @dish.category_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @dish.name %>
</p>

<p>
  <b>Content:</b>
  <%=h @dish.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @dish.price %>
</p>


<%= link_to 'Back',dishes_path %>


