<%= render :partial => @restaurant %>
<% if(signed_in?) %>

   <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Destroy', @restaurant, :method => :delete, :confirm => "Are you sure?" %> |
  <% end %>
  <p>
  <%= link_to 'See All Restaurant', restaurants_path %>
</p>


<h2>Menus</h2>
<div id="menus">
  <%= render :partial => @restaurant.menus %>
</div>

   <% if(signed_in?) %>
  <% form_for [@restaurant, Menu.new] do |f| %>
    <p>
      <%= f.label :about, "New menu" %><br />
      <%= f.text_area :about %>
    </p>
    <p><%= f.submit "Add menu" %> </p>
    <% end %>
  <% end %>


